body {
  margin: 10rem;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #171c21;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px inset lightcyan;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  color: lightcyan;
  gap: 2rem;
}
.navbar ul li,
a {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
  color: lightcyan;
}
.navbar ul li a:hover {
  color: blueviolet;
}
.navbar .logo {
  color: lightcyan;
  font-weight: 800;
  cursor: pointer;
  font-size: 25px;
}
.navbar .logo .fa {
  color: blueviolet;
  transition: 0.5s ease;
}
.navbar .logo .fa:hover {
  color: lightcyan;
}
.navbar .logo .fa {
  animation: animateBug 2s infinite;
  animation-direction: alternate-reverse;
}

@keyframes animateBug {
  from {
    color: lightcyan; /* Initially facing right */
  }
  to {
    color: blueviolet; /* Flips the rocket and moves right */
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 2rem;
    padding: 0;
    padding-top: 2rem;
    box-sizing: border-box;
  }
  .fa-cloud {
    position: relative;
    display: none;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
  }
  .navbar ul li {
    font-size: 15px;
  }
  .logo {
    margin-left: 10%;
  }
}
